<?xml version="1.0"?>
<!--
/**
 * @author Unexpected Team
 * @copyright Copyright (c) 2020 Unexpected
 * @package Unexpected_DeliveryTime
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <delivery_time>
            <general>
                <enable>1</enable>
                <date_unit>0</date_unit>
            </general>
            <frontend>
                <round_up>0</round_up>
            </frontend>
        </delivery_time>
    </default>
</config>
