<?xml version="1.0"?>
<!--
/**
 * @author Greenrivers Team
 * @copyright Copyright (c) 2021 Greenrivers
 * @package Greenrivers_DeliveryTime
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <delivery_time>
            <general>
                <enabled>1</enabled>
            </general>
            <backend>
                <min_scale>1</min_scale>
                <max_scale>100</max_scale>
                <scale_step>1</scale_step>
            </backend>
            <frontend>
                <label>Delivery time</label>
                <sort>0</sort>
                <filter>0</filter>
            </frontend>
        </delivery_time>
    </default>
</config>
