<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Unexpected Team
 * @copyright Copyright (c) 2020 Unexpected
 * @package Unexpected_DeliveryTime
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Unexpected\DeliveryTime\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/unexpected/delivery_time.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Unexpected\DeliveryTime\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Unexpected_DeliveryTime Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Unexpected\DeliveryTime\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Unexpected\DeliveryTime\Helper\Render">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Observer\SaveOrder">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Setup\Patch\Data\AddDeliveryTimeAttributes">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Invoice">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Shipment">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Creditmemo">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Model\Order\Pdf\Items\Invoice\DefaultInvoice">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Model\Order\Pdf\Items\Shipment\DefaultShipment">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Model\Order\Pdf\Items\Creditmemo\DefaultCreditmemo">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Block\Adminhtml\Order\View\Items">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Observer\SaveProduct">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Ui\DataProvider\Product\Form\Modifier\AddFields">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Block\Product\ProductList\Toolbar">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\ViewModel\DeliveryTimeFilter">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Cart\AbstractCart">
        <plugin name="Unexpected_DeliveryTime::Block_AbstractCart"
                type="Unexpected\DeliveryTime\Plugin\Block\Cart\AbstractCart"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="Unexpected_DeliveryTime::Model_DefaultConfigProvider"
                type="Unexpected\DeliveryTime\Plugin\Model\DefaultConfigProvider"/>
    </type>
    <type name="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice">
        <plugin name="Unexpected_DeliveryTime::Model_DefaultInvoice"
                type="Unexpected\DeliveryTime\Plugin\Model\Order\Pdf\Items\Invoice\DefaultInvoice"/>
    </type>
    <type name="Magento\Sales\Model\Order\Pdf\Items\Shipment\DefaultShipment">
        <plugin name="Unexpected_DeliveryTime::Model_DefaultShipment"
                type="Unexpected\DeliveryTime\Plugin\Model\Order\Pdf\Items\Shipment\DefaultShipment"/>
    </type>
    <type name="Magento\Sales\Model\Order\Pdf\Items\Creditmemo\DefaultCreditmemo">
        <plugin name="Unexpected_DeliveryTime::Model_DefaultCreditmemot"
                type="Unexpected\DeliveryTime\Plugin\Model\Order\Pdf\Items\Creditmemo\DefaultCreditmemo"/>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Unexpected_DeliveryTime::Block_Configurable"
                type="Unexpected\DeliveryTime\Plugin\Block\Product\View\Type\Configurable"/>
    </type>
    <type name="Magento\Catalog\Model\Config">
        <plugin name="Unexpected_DeliveryTime::Model_Config" type="Unexpected\DeliveryTime\Plugin\Model\Config"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="Unexpected_DeliveryTime::Block_Toolbar"
                type="Unexpected\DeliveryTime\Plugin\Block\Product\ProductList\Toolbar"/>
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="Unexpected_DeliveryTime::Model_Collection"
                type="Unexpected\DeliveryTime\Plugin\Model\ResourceModel\Fulltext\Collection"/>
    </type>

    <preference for="Unexpected\DeliveryTime\Api\DeliveryTimeRepositoryInterface"
                type="Unexpected\DeliveryTime\Model\Repository\DeliveryTimeRepository"/>

    <preference for="Magento\Sales\Model\Order\Pdf\Invoice"
                type="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Invoice"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Shipment"
                type="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Shipment"/>
    <preference for="Magento\Sales\Model\Order\Pdf\Creditmemo"
                type="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Creditmemo"/>

    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Attribute"
                type="Unexpected\DeliveryTime\Preference\Model\Layer\Filter\Attribute"/>
</config>
