<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Unexpected Team
 * @copyright Copyright (c) 2020 Unexpected
 * @package Unexpected_DeliveryTime
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Unexpected\DeliveryTime\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/unexpected/delivery_time.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Unexpected\DeliveryTime\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Unexpected_DeliveryTime Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Unexpected\DeliveryTime\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Unexpected\DeliveryTime\Helper\Render">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Observer\SaveDeliveryTime">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Setup\Patch\Data\AddDeliveryTimeAttributes">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Invoice">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>
    <type name="Unexpected\DeliveryTime\Plugin\Model\DefaultInvoice">
        <arguments>
            <argument name="logger" xsi:type="object">Unexpected\DeliveryTime\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Cart\AbstractCart">
        <plugin name="Unexpected_DeliveryTime::Block_AbstractCart"
                type="Unexpected\DeliveryTime\Plugin\Block\AbstractCart"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="Unexpected_DeliveryTime::Model_DefaultConfigProvider"
                type="Unexpected\DeliveryTime\Plugin\Model\DefaultConfigProvider"/>
    </type>
    <type name="Magento\Sales\Model\Order\Pdf\Items\Invoice\DefaultInvoice">
        <plugin name="Unexpected_DeliveryTime::Model_DefaultInvoice"
                type="Unexpected\DeliveryTime\Plugin\Model\DefaultInvoice"/>
    </type>

    <preference for="Unexpected\DeliveryTime\Api\DeliveryTimeRepositoryInterface"
                type="Unexpected\DeliveryTime\Model\Repository\DeliveryTimeRepository"/>

    <preference for="Magento\Sales\Model\Order\Pdf\Invoice"
                type="Unexpected\DeliveryTime\Preference\Model\Order\Pdf\Invoice"/>
</config>
