<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Unexpected Team
 * @copyright Copyright (c) 2020 Unexpected
 * @package Unexpected_DeliveryTime
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="Fields" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Unexpected\DeliveryTime\Ui\DataProvider\Product\Form\Modifier\AddFields
                    </item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">
        <plugin name="Unexpected_DeliveryTime::Block_Items" type="Unexpected\DeliveryTime\Plugin\Block\Items"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="Unexpected_DeliveryTime::Block_DefaultRenderer"
                type="Unexpected\DeliveryTime\Plugin\Block\DefaultRenderer"/>
    </type>
</config>
