<?xml version="1.0"?>
<!--
/**
 * @author Unexpected Team
 * @copyright Copyright (c) 2020 Unexpected
 * @package Unexpected_DeliveryTime
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="unexpected" translate="label" sortOrder="100000">
            <label>Unexpected</label>
        </tab>
        <section id="delivery_time" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Delivery Time</label>
            <tab>unexpected</tab>
            <resource>Unexpected_DeliveryTime::delivery_time_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="checkbox" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <frontend_model>Unexpected\DeliveryTime\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
            </group>
            <group id="backend" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Backend</label>
                <field id="date_unit" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Date unit</label>
                    <source_model>Unexpected\DeliveryTime\Model\Config\Source\DateUnit</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="min_scale" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Slider min scale</label>
                    <validate>required-entry validate-number validate-digits</validate>
                </field>
                <field id="max_scale" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Slider max scale</label>
                    <validate>required-entry validate-number validate-digits validate-max-scale</validate>
                </field>
                <field id="scale_step" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Slider step scale</label>
                    <validate>required-entry validate-number validate-digits validate-scale-step</validate>
                </field>
            </group>
            <group id="frontend" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Frontend</label>
                <field id="label" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Label</label>
                    <validate>required-entry</validate>
                </field>
                <field id="sort" translate="label" type="checkbox" sortOrder="30" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Sorting</label>
                    <frontend_model>Unexpected\DeliveryTime\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
                <field id="filter" translate="label" type="checkbox" sortOrder="40" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Filters</label>
                    <frontend_model>Unexpected\DeliveryTime\Block\Adminhtml\System\Config\ToggleSwitch</frontend_model>
                </field>
                <field id="visibility" translate="label" type="multiselect" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Visible on</label>
                    <source_model>Unexpected\DeliveryTime\Model\Config\Source\Visibility</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
